{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}

{{ end }}

<ul class="posts">
	{{ with .Site.GetPage "/posts" }}
	{{- range .Data.Pages -}}
	{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
	<li class="post">
		<span class="meta">{{ dateFormat "2006-01-02" .Date }}</span> <a href="{{ .RelPermalink }}">{{.Title}}</a> {{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
	</li>
	{{- end -}}
	{{- end -}}
	{{- end -}}
</ul>
{{ end }}
